<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Page</title>
    <!--Bootstrap CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type='text/javascript' src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js'></script>
  </head>
  <style>
    .container {
  position: relative;
}
html,
body {
    margin:0;
    padding:0;
    height:100%;
}
.center {
  position: absolute;
  top: 50%;
  right: 30.5%;
  width: 100%;
  text-align: center;
  font-size: 18px;
}
.input-group-btn.input-space {
  padding-left: 15px;
}
#wrapper {
    min-height:100%;
    position:relative;
}
#content {
    padding:10px;
    padding-bottom:80px;   /* Height of the footer element */
    width: 100%;
}
#footer {
    width:100%;
    height:20%;
    position:absolute;
    bottom:0;
    text-align: center;
    left:0;
    background-color: rgb(0, 38, 255);
    color:white;
}
  </style>
  <script>
    $(document).ready(function () {
        $("#divisi").change(function () {
            var val = $(this).val();
            if (val == "Engineer") {
                $("#posisi").html("<option value='Software Engineer'>Software Engineer</option>");
            } else if (val == "System Analyst") {
                $("#posisi").html("<option value='System Analyst'>System Analyst</option>");
            } else if (val == "Project Manager") {
                $("#posisi").html("<option value='Project Manager'>Project Manager</option>");
            } else if (val == "") {
                $("#posisi").html("<option value=''>--Pilih Divisi Dahulu--</option>");
            }
        });
    });
    $(document).ready(function () {
        $("#divisi1").change(function () {
            var val = $(this).val();
            if (val == "Engineer") {
                $("#posisi1").html("<option value='Software Engineer'>Software Engineer</option>");
            } else if (val == "System Analyst") {
                $("#posisi1").html("<option value='System Analyst'>System Analyst</option>");
            } else if (val == "Project Manager") {
                $("#posisi1").html("<option value='Project Manager'>Project Manager</option>");
            } else if (val == "") {
                $("#posisi1").html("<option value=''>--Pilih Divisi Dahulu--</option>");
            }
        });
    });
    $(function() {
        $('#username').on('keypress', function(e) {
            if (e.which == 32)
                return false;
        });
    });
    </script>
  <body>
    <div class="modal fade" id="logout-Admin" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Log Out</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Apakah anda yakin ingin keluar dari admin user?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
            <form method="post">
                {% csrf_token %}
              <button type="submit" value="logout-admin" name="logoutAdmin" class="btn btn-primary">Yes</button>
          </form>
          </div>
        </div>
      </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand fw-bold" href="http://127.0.0.1:8000/AdminPageUser/" style="margin-left: 30px;">Admin</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
          <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
            <li class="nav-item">
              <a class="nav-link active" style="margin-left: 40px;" aria-current="page" href="{% url 'admindivisipage' %}">Kelola Divisi</a>
            </li>
          </ul>
          <form class="d-flex">
            <ul class="nav nav-pills">
              <li class="nav-item dropdown">
                <label class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="" role="button" aria-expanded="false" style="margin-right: 40px;">Admin <img src="/images/logo_user_icon.png" width="30px"></label>
                <ul class="dropdown-menu">
                  <li><button class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#logout-Admin">Logout</button></li>
                </ul>
              </li>
            </ul>
          </form>
        </div>
      </div>
    </nav>
    {% if errors != "" %}
    <div class="mb-3 row alert alert-danger alert-dismissible fade show" style="width: 50%;margin-left: 500px;" role="alert">
    {{errors}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}

    {% for user in users %}
    <div class="modal fade" id="editUser-{{user.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel"">Edit User</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
          <div class="modal-body">
            <div class="mb-3 row">
              <label for="nama" class="col-sm-2 col-form-label">Nama :</label>
              <div class="col-sm-10">
                <input type="text" class="form-control shadow p-2 mb-4 bg-body rounded" name="nama" value="{{user.nama}}" placeholder="Nama User" required>
              </div>
            </div>
            <div class="mb-3 row">
              <label for="email" class="col-sm-2 col-form-label">Email :</label>
              <div class="col-sm-10">
                <input type="text" class="form-control shadow p-2 mb-4 bg-body rounded" name="email" value="{{user.email}}" placeholder="Email User" required>
              </div>
            </div>
            <div class="mb-3 row">
              <label for="username" class="col-sm-2 col-form-label">Username :</label>
              <div class="col-sm-10">
                <input type="text" class="form-control shadow p-2 mb-4 bg-body rounded" id="username" value="{{user.username}}" name="username" placeholder="Username" required>
              </div>
            </div>
            <div class="mb-3 row">
              <label for="password" class="col-sm-2 col-form-label">Password :</label>
              <div class="col-sm-10">
                <input type="password" placeholder="Password User" name="password" value="{{user.password}}" class="form-control shadow p-2 mb-4 bg-body rounded" required>
              </div>
            </div>
            <div class="mb-3 row">
              <div class="form-input"> 
                <select class="form-select mb-1" aria-label="Default select example" id="role" name="role" required>
                {% if user.role == role_list.0 %}
                  <option value="{{user.role}}">{{role_list.0.role}}</option>
                  <option value="2">Karyawan</option>
                {% else %}
                  <option value="{{user.role}}">{{role_list.1.role}}</option>
                  <option value="1">Manager</option>
                {% endif %}
            </select> </div>
            </div>
            <div class="mb-3 row">
              <div class="form-input"> 
                <select class="form-select mb-1" aria-label="Default select example" id="divisi1" name="divisi1" required>
                  {% if user.divisi == "Engineer" %}
                    <option value="{{user.divisi}}">{{user.divisi}}</option>
                    <option value="System Analyst">System Analyst</option>
                    <option value="Project Manager">Project Manager</option>
                  {% elif user.divisi == "System Analyst" %}
                    <option value="{{user.divisi}}">{{user.divisi}}</option>
                    <option value="Engineer">Engineer</option>
                    <option value="Project Manager">Project Manager</option>
                  {% else %}
                    <option value="{{user.divisi}}">{{user.divisi}}</option>
                    <option value="Engineer">Engineer</option>
                    <option value="System Analyst">System Analyst</option>
                  {% endif %}
                </select>
                </div>
            </div>
            <div class="mb-3 row">
              <div class="form-input"> 
                <select class="form-select mb-1" aria-label="Default select example" id="posisi1" name="posisi1" required>
                    <option value="{{user.posisi}}">{{user.posisi}}</option>
                </select>
                </div>
            </div>
            <div class="mb-3">
              <label for="formFile" class="form-label">Upload Photo Profile</label>
              <input type="file" id="formFile" class="form-control" accept=".png, .jpg, .jpeg" name="gambar" value="{{user.foto}}">
              *Kosongkan jika tidak ingin mengubah photo profile
              <br>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              <button type="submit" value="editUs-{{user.id}}" name="editUser" onClick="window.location.reload();" id="tambahUser" class="btn btn-primary" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">Edit</button>
          </div>
          </form>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
    {% for user in users %}
    <div class="modal fade" id="deleteUser-{{user.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel"">Delete User</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Apakah anda yakin ingin menghapus user ini?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
            <form method="post">
                {% csrf_token %}
              <button type="submit" value="hapusModal-{{user.id}}" name="delUser" class="btn btn-primary">Yes</button>
          </form>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
  <div class="modal fade" id="tambahModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Tambah User</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
        <div class="modal-body">
          <div class="mb-3 row">
            <label for="nama" class="col-sm-2 col-form-label">Nama :</label>
            <div class="col-sm-10">
              <input type="text" class="form-control shadow p-2 mb-4 bg-body rounded" name="nama" placeholder="Nama User" required>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="email" class="col-sm-2 col-form-label">Email :</label>
            <div class="col-sm-10">
              <input type="text" class="form-control shadow p-2 mb-4 bg-body rounded" name="email" placeholder="Email User" required>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="username" class="col-sm-2 col-form-label">Username :</label>
            <div class="col-sm-10">
              <input type="text" class="form-control shadow p-2 mb-4 bg-body rounded" id="username" name="username" placeholder="Username" required>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="password" class="col-sm-2 col-form-label">Password :</label>
            <div class="col-sm-10">
              <input type="password" placeholder="Password User" name="password" class="form-control shadow p-2 mb-4 bg-body rounded" required>
            </div>
          </div>
          <div class="mb-3 row">
            <div class="form-input"> 
              <select class="form-select mb-1" aria-label="Default select example" id="role" name="role" required>
              <option value="">--Pilih Role--</option>
              <option value="1">Manager</option>
              <option value="2">Karyawan</option>
          </select> </div>
          </div>
          <div class="mb-3 row">
            <div class="form-input"> 
              <select class="form-select mb-1" aria-label="Default select example" id="divisi" name="divisi" required>
                  <option value="">--Pilih Divisi--</option>
                  <option value="Engineer">Engineer</option>
                  <option value="System Analyst">System Analyst</option>
                  <option value="Project Manager">Project Manager</option>
              </select>
              </div>
          </div>
          <div class="mb-3 row">
            <div class="form-input"> 
              <select class="form-select mb-1" aria-label="Default select example" id="posisi" name="posisi" required>
                  <option value="">--Pilih Divisi Dahulu--</option>
              </select>
              </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="submit" value="addUser" name="tambahUser" id="tambahUser" class="btn btn-primary" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">Tambah</button>
        </div>
      </form>
      </div>
    </div>
  </div>
    <div id="wrapper">
      <div id="content">
        <div class="row">
          <div class="col">
            <div class="card card-body container">
              <form method="get">
                <div class="input-group">
                  <input type="text" placeholder="Cari User" name="cari" style="margin-right: 200px;margin-left: 200px;" class="form-control">
                  <span class="input-group-btn input-space">
                    <button class="btn btn-outline-secondary" type="button" data-bs-toggle="modal" data-bs-target="#tambahModal">+ Tambah</button>
                  </span>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="pagination justify-content-center container p-4">
          <table class="table table-bordered">
              <thead>
                  <tr>
                    <th style="text-align:center" scope="col">No.</th>
                    <th style="text-align:center" scope="col">Nama User</th>
                    <th style="text-align:center" scope="col">Email</th>
                    <th style="text-align:center" scope="col">Username</th>
                    <th style="text-align:center" scope="col">Role</th>
                    <th style="text-align:center" scope="col">Divisi</th>
                    <th style="text-align:center" scope="col">Posisi</th>
                    <th style="text-align:center" scope="col">Foto User</th>
                    <th style="text-align:center" scope="col">Aksi</th>
                  </tr>
                </thead>
                <tbody>
                  {% for user in users %}
                  <tr>
                    <th scope="row" style="text-align:center" valign="middle">{{forloop.counter}}</th>
                    <td style="text-align:center" valign="middle">{{user.nama}}</td>
                    <td style="text-align:center" valign="middle">{{user.email}}</td>
                    <td style="text-align:center" valign="middle">{{user.username}}</td>
                    {% if user.role == role_list.0 %}
                        <td style="text-align:center" valign="middle">{{role_list.0.role}}</td>
                      {% else %}
                      <td style="text-align:center" valign="middle">{{role_list.1.role}}</td>
                    {% endif %}
                    <td style="text-align:center" valign="middle">{{user.divisi}}</td>
                    <td style="text-align:center" valign="middle">{{user.posisi}}</td>
                    <td valign="middle" style="text-align:center"><img src="/images/{{user.foto}}" class="img-thumbnail" width="100"></td>
                    <td valign="middle" style="text-align:center">
                      <button type="button" data-bs-toggle="modal" data-bs-target="#editUser-{{user.id}}" value="{{user.id}}" class="btn btn-primary">Edit</button>
                      <button type="button" data-bs-toggle="modal" data-bs-target="#deleteUser-{{user.id}}" value="{{user.id}}" class="btn btn-danger">Delete</button>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-10">
          <div class="container">
            <div class="center">Showing {{ users.number }} to {{users.paginator.object_list.count}} of {{ users.paginator.num_pages }}</div>
          </div>
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end">
              {% if users.has_previous %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ users.previous_page_number }}">Previous</a>
                </li>
              {% else %}
                <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
              {% endif %}
              {% for i in users.paginator.page_range %}
                {% if users.number == i %}
                  <li class="page-item active" aria-current="page">
                    <span class="page-link">
                      {{ i }}
                      <span class="sr-only"></span>
                    </span>
                  </li>
                {% else %}
                  <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
              {% endfor %}
              {% if users.has_next %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ users.next_page_number }}">Next</a>
                </li>
              {% else %}
                <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
                </li>
              {% endif %}
            </ul>
          </nav>
        </div>
      </div>
      <div id="footer">
        <br>
        <p class="fw-bold">Layanan Pengguna</p>
        <p style="color: darkgray;">javan@gmail.com</p>
        <p style="color: darkgray;">+62 81312345678</p>
        <p class="fw-bold">PT Javan Cipta Solusi</p>
      </div>
  </div>
    <!-- Optional Javascript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
  </body>
</html>