<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8'>
                                <meta name='viewport' content='width=device-width, initial-scale=1'>
                                <title>Form Login Javan</title>
                                <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css' rel='stylesheet'>
                                <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet'>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type='text/javascript' src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js'></script>
                                <style>@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

body {
    background-color: #75ccff;
    font-family: "Poppins", sans-serif;
    font-weight: 300
}

.height {
    height: 100vh
}

.card {
    border: none;
    padding: 20px;
    background-color: #ffffff;
    color: rgb(0, 0, 0)
}

.circle {
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5855e7;
    color: #fff;
    font-size: 10px;
    border-radius: 50%
}

.form-input {
    position: relative;
    margin-bottom: 10px;
    margin-top: 10px
}

.form-input i {
    position: absolute;
    font-size: 18px;
    top: 15px;
    left: 10px
}

.form-control {
    height: 50px;
    background-color: #ffffff;
    text-indent: 24px;
    font-size: 15px
}

.form-control:focus {
    background-color: #ffffff;
    box-shadow: none;
    color: rgb(0, 0, 0);
    border-color: #9fa9ee
}

.form-check-label {
    margin-top: 2px;
    font-size: 14px
}

.signup {
    height: 50px;
    font-size: 14px
}

.social {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #eee;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer
}

.social:hover {
    background-color: #0d6efd;
    border-color: #ffffff
}</style>
<script>
$(function() {
    $('#username').on('keypress', function(e) {
        if (e.which == 32)
            return false;
    });
});
</script>
</head>
    <body oncontextmenu='return false' class='snippet-body'>
        <form method="POST">
            {% csrf_token %}
            <div class="container mt-5 mb-5">
                <div class="row d-flex align-items-center justify-content-center">
                    <div class="col-md-6">
                        <div class="card px-5 py-5">
                            <img src="/images/logo.png" width="200px" class="center" style="display: block; margin-left: auto; margin-right: auto;">
                            <h5 class="mt-3">Form Login Website KPI Javan<br> </h5> <small class="mt-2">Isi data anda dibawah ini dengan benar</small>
                            <div class="form-input"> <i class="fa fa-user"></i> <input type="" class="form-control" name="username" id="username" placeholder="Username" required maxlength="20"> </div>
                            {% if errors == "Username tidak ditemukan, silahkan ulangi lagi." %}
                            <div class="mb-3 row alert alert-danger" role="alert">
                            {{errors}}
                            </div>
                            {% endif %}
                            <div class="form-input"> <i class="fa fa-lock"></i> <input type="password" minlength="6" class="form-control" placeholder="Password" name="password" required maxlength="20"> </div>
                            {% if errors == "Password yang anda masukkan salah, silahkan ulangi lagi." %}
                            <div class="mb-3 row alert alert-danger" role="alert">
                            {{errors}}
                            </div>
                            {% endif %}
                            <button class="btn btn-success mt-4 signup" type="submit">Login</button>
                            <div class="text-center mt-4"> <span>Belum memiliki akun?</span> <a href="{% url 'registers' %}" class="text-decoration-none">Register</a> </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </body>
</html>
