<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Karyawan</title>
    <!--Bootstrap CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script type='text/javascript' src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/css/tempusdominus-bootstrap-4.min.css" integrity="sha256-XPTBwC3SBoWHSmKasAk01c08M6sIA5gF5+sRxqak2Qs=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/js/tempusdominus-bootstrap-4.min.js" integrity="sha256-z0oKYg6xiLq3yJGsp/LsY9XykbweQlHl42jHv2XTBz4=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <!-- XDSoft DateTimePicker -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>
  </head>
  <style>
    .tier_price_break, td{
    border: 2px solid #ccc;
    border-radius: 2px;
    border-color: #ccc;
}
.tier_price_break, td, tr:first-child th{
  border-inline: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
}
    .container {
  position: relative;
}
.image-upload>input {
  display: none;
}
.center {
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 30.5%;
  width: 100%;
  text-align: center;
  font-size: 18px;
}
.input-group-btn.input-space {
  padding-left: 15px;
}
.pointer {cursor: pointer;}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: rgb(0, 38, 255);
   color: white;
   text-align: center;
}
  </style>
  <body>
    <div class="modal fade" id="logout-Admin" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Log Out</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Apakah anda yakin ingin keluar dari admin user?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
            <form method="post">
                {% csrf_token %}
              <button type="submit" value="logout-admin" name="logoutAdmin" class="btn btn-primary">Yes</button>
          </form>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="grafikModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Grafik dari {{pages}}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div id="piechart"></div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
          </div>
        </div>
      </div>
    {% for user in users %}
    <div class="modal fade" id="editUser" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel"">Edit User</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
          <div class="modal-body">
            <div class="mb-2">
              <img src="/images/{{user.foto}}" style="margin-left: 50%;" width="100px">
            </div>
            <div class="mb-3" style="margin-left: 50%;">
              <div class="image-upload">
                <label for="file-input">Ganti Foto
                  <img src="/images/edit_logo.png" width="20px" class="pointer"/>
                </label>
                {{uploadFoto.gambar}}
              </div>
            </div>
            <div class="mb-3 row">
              <label for="nama" class="col-sm-2 col-form-label">Nama :</label>
              <div class="col-sm-10">
                <input type="text" class="form-control shadow p-2 mb-4 bg-body rounded" name="nama" value="{{user.nama}}" placeholder="Nama User" required>
              </div>
            </div>
            <div class="mb-3 row">
              <label for="email" class="col-sm-2 col-form-label">Email :</label>
              <div class="col-sm-10">
                <input type="text" class="form-control shadow p-2 mb-4 bg-body rounded" name="email" value="{{user.email}}" placeholder="Email User" required>
              </div>
            </div>
            <div class="mb-3 row">
              <label for="username" class="col-sm-2 col-form-label">Username :</label>
              <div class="col-sm-10">
                <input type="text" class="form-control shadow p-2 mb-4 bg-body rounded" id="username" value="{{user.username}}" name="username" placeholder="Username" required>
              </div>
            </div>
            <div class="mb-3 row">
              <label for="password" class="col-sm-2 col-form-label">Password :</label>
              <div class="col-sm-10">
                <input type="password" placeholder="Password User" minlength="6" name="password" value="{{user.password}}" class="form-control shadow p-2 mb-4 bg-body rounded" required>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="submit" value="editUs-{{user.id}}" name="editUser" id="tambahUser" class="btn btn-primary" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">Simpan</button>
          </div>
          </form>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
  
  <div class="modal fade" id="uploadFile" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel"">Tambah KPI Karyawan {{users.0.divisi}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
        <div class="modal-body">
          <div class="mb-3 row">
            <label for="nama" class="col-sm-2 col-form-label">Bobot </label>
            <div class="col-sm-10">
              <input type="number" class="form-control shadow p-2 mb-4 bg-body rounded" name="bobot" value="{{divisi_nilai.0.bobot}}" disabled>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="email" class="col-sm-2 col-form-label">Target </label>
            <div class="col-sm-10">
              <input type="number" class="form-control shadow p-2 mb-4 bg-body rounded" minlength="10" name="target" value="{{divisi_nilai.0.target}}" disabled>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="username" class="col-sm-2 col-form-label">Pencapaian </label>
            <div class="col-sm-10">
              <input type="number" class="form-control shadow p-2 mb-4 bg-body rounded" id="pencapaian" name="pencapaian" placeholder="Input nilai dari 1 - 100" required>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="password" class="col-sm-2 col-form-label">Jumlah KPI Score </label>
            <div class="col-sm-10">
              <input type="number" placeholder="Input nilai dari 1 - {{divisi_nilai.0.bobot}}" name="kpiScore" class="form-control shadow p-2 mb-4 bg-body rounded" required>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="password" class="col-sm-2 col-form-label">Bukti Link PDF </label>
            <div class="col-sm-10">
              <input type="file" accept=".pdf" placeholder="Link PDF" name="linkFile" class="form-control shadow" required>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" value="tambahKPI" name="tambahKpi" class="btn btn-primary" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">Kirim</button>
        </div>
        </form>
        </div>
      </div>
    </div>

    <div class="modal fade" id="editFile-{{review.0.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel"">Edit KPI Karyawan {{users.0.divisi}}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
          <div class="modal-body">
            <div class="mb-3 row">
              <label for="nama" class="col-sm-2 col-form-label">Bobot </label>
              <div class="col-sm-10">
                <input type="number" class="form-control shadow p-2 mb-4 bg-body rounded" name="bobot" value="{{divisi_nilai.0.bobot}}" disabled>
              </div>
            </div>
            <div class="mb-3 row">
              <label for="email" class="col-sm-2 col-form-label">Target </label>
              <div class="col-sm-10">
                <input type="number" class="form-control shadow p-2 mb-4 bg-body rounded" name="target" value="{{divisi_nilai.0.target}}" disabled>
              </div>
            </div>
            <div class="mb-3 row">
              <label for="username" class="col-sm-2 col-form-label">Pencapaian </label>
              <div class="col-sm-10">
                <input type="number" class="form-control shadow p-2 mb-4 bg-body rounded" id="pencapaian" value="{{review.0.pencapaian}}" name="pencapaian" placeholder="Input nilai dari 1 - 100" required>
              </div>
            </div>
            <div class="mb-3 row">
              <label for="password" class="col-sm-2 col-form-label">Jumlah KPI Score </label>
              <div class="col-sm-10">
                <input type="number" placeholder="Input nilai dari 1 - {{divisi_nilai.0.bobot}}" minlength="6" name="kpiScore" class="form-control shadow p-2 mb-4 bg-body rounded" value="{{review.0.score}}" required>
              </div>
            </div>
            <div class="mb-3 row">
              <label for="password" class="col-sm-2 col-form-label">Bukti Link PDF </label>
              <div class="col-sm-10">
                <input type="file" accept=".pdf" placeholder="Link PDF" name="linkFile" value="{{review.0.berkas}}" class="form-control shadow" required>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="submit" value="editKpi-{{review.0.id}}" name="editKPI" class="btn btn-primary" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">Kirim</button>
          </div>
          </form>
          </div>
        </div>
      </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand fw-bold" href="#" style="margin-left: 30px;">Karyawan</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
          <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle fw-bold" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Semua KPI Divisi {{users.0.divisi}}
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% for a in divisi_datas %}
                <li><a class="dropdown-item" href="http://127.0.0.1:8000/indexKaryawan/{{a}}/">{{a}}</a></li>
                {% endfor %}
              </ul>
            </li>
          </ul>
          <form class="d-flex">
            <ul class="nav nav-pills">
              <li class="nav-item dropdown">
                <label class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="" role="button" aria-expanded="false" style="margin-right: 40px;">Karyawan {{users.0.divisi}}<img src="/images/logo_user_icon.png" width="30px"></label>
                <ul class="dropdown-menu">
                  <li><button class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#editUser">Ubah Profile</button></li>
                  <li><button class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#logout-Admin">Logout</button></li>
                </ul>
              </li>
            </ul>
          </form>
        </div>
      </div>
    </nav>
    {% if errors != "" %}
    <div class="mb-3 row alert alert-danger alert-dismissible fade show" style="width: 50%;margin-left: 500px;" role="alert">
    {{errors}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
    <br>
    <div class="container">
      <label class="fw-bold" style="margin-left: 560px;">
        KPI for {{users.0.divisi}}
      </label>
      <div class="row">
        <div class="col">
          <div class="card card-body" style="height: 200px;">
            <form method="get">
              <div class="input-group">
                <p type="text" style="margin-left: 500px;"> Rata - Rata KPI Divisi {{users.0.divisi}} </p>
              </div>
              <div class="container">
                <div class="row align-items-start">
                <div class="row align-items-center">
                  <div class="col-sm container"  style="margin-left: 300px; right: 10px;">
                    <table class="tier_price_break" width="100%" cellpadding="1" cellspacing="1">
                      <thead>
                        <tr>
                          {% for a in divisi_datas%}
                          <th style="text-align:center" width="50px" scope="col">
                            <div style="text-align: center; white-space: nowrap; ">
                              <marquee direction="left" behavior="scroll" scrollamount="3">
                                {{a}}
                              </marquee>
                            </div>
                          </th>
                          {% endfor %}
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          {% for a in divisi_data1%}
                          <td style="text-align:center" valign="middle">
                            <div style="text-align: center; font-size: 50px;">
                              {{a.target}}
                            </div>
                          </td>
                          {% endfor %}
                        </tr>
                      </tbody>
                  </table>
                  </div>
                </div>
              </div>
            </div>
            </form>
            <div class="btn-group-vertical mb-1" style="bottom: 130px;">
              Filter
              <div class="mb-1">
                {{ uploadFoto.date }}
              </div>
              <div class="mb-1">
                <a type="button" class="btn btn-primary" style="width: 100px; font-size: 15px;" id="date1" onclick="myFunction()" >Tampilkan</a>
                <a type="button" class="btn btn-success" style="width: 100px; font-size: 15px;" data-bs-toggle="modal" data-bs-target="#grafikModal" >Grafik</a>
              </div>
              </div>
            </div>
        </div>
      </div>
      <br>
      <!--Tampilan bawah-->
      <div class="row">
        <div class="col">
          <div class="card card-body">
            <p type="text" class="fw-bold">{{pages}}</p>
            <p type="text" class="fw-light">Bobot              :  {{divisi_nilai.0.bobot}}</p>
              <p type="text" class="fw-light">Target             :  {{divisi_nilai.0.target}}</p>
              <p type="text" class="fw-light">Pencapaian         :  {{review.0.pencapaian}}</p>
              <p type="text" class="fw-light">Jumlah KPI Score   :  {{review.0.score}}</p>
              <div class="input-group" style="bottom: 200px;left: 100px;">
                  {% if review.0.status == "Pending" %}
                  <p type="text" class="fw-bold" style="margin-left: 800px; color: blue;">Status   :  {{review.0.status}}</p>
                  {% if allowed == True %}
                  <button type="button" data-bs-toggle="modal" data-bs-target="#editFile-{{review.0.id}}" class="btn btn-primary" style="top: 50px; right: 110px; width: 3cm;">Edit</button>
                  {% endif %}
                  {% elif review.0.status == "On Review" %}
                  <p type="text" class="fw-bold" style="margin-left: 800px; color: yellow;">Status   :  {{review.0.status}}</p>
                  {% elif review.0.status == "Diterima" %}
                  <p type="text" class="fw-bold" style="margin-left: 800px; color: green;">Status   :  {{review.0.status}}</p>
                  {% elif review.0.status == "Rejected" %}
                  <p type="text" class="fw-bold" style="margin-left: 800px; color: red;">Status   :  {{review.0.status}}</p>
                  {% if allowed == True %}
                  <button type="button" data-bs-toggle="modal" data-bs-target="#editFile-{{review.0.id}}" class="btn btn-primary" style="top: 50px; right: 110px; width: 3cm;">Edit</button>
                  {% endif %}
                  {% elif review.0.status == "Revisi" %}
                  <p type="text" class="fw-bold" style="margin-left: 800px; color: rgb(162, 0, 255);">Status   :  {{review.0.status}}</p>
                    {% if allowed == True %}
                  <button type="button" data-bs-toggle="modal" data-bs-target="#editFile-{{review.0.id}}" class="btn btn-primary" style="top: 50px; right: 110px; width: 3cm;">Edit</button>
                    {% endif %}
                  {% endif %}
              </div>
            </div>
            <div style="margin-left: 600px; position: relative; bottom: 200px;">
              <span data-bs-toggle="modal" data-bs-target="#uploadFile">
                {% if allowed %}
                <image type="image" src="/images/favpng_vector-graphics-document-illustration-computer-file.png" data-bs-placement="right" title="Upload file here" class="pointer" data-bs-toggle="tooltip" style="width:130px;height:140px;"/> </a>
                {% else %}
                <image type="image" src="/images/favpng_vector-graphics-document-illustration-computer-file.png" data-bs-placement="right" title="Upload file here" class="pointer" data-bs-toggle="tooltip" style="width:130px;height:140px; display: none;"/> </a>
                {% endif %}
              </span>
            </div>
        </div>
      </div>
  </div>
  <div class="footer">
    <br>
    <p class="fw-bold">Layanan Pengguna</p>
    <p style="color: darkgray;">javan@gmail.com</p>
    <p style="color: darkgray;">+62 81312345678</p>
    <p class="fw-bold">PT Javan Cipta Solusi</p>
  </div>
<script type="text/javascript">
  $(function () {
    $("#dateTime").datetimepicker({
      format: 'd/m/Y H:i',
    });
  });
  var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
  var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
  return new bootstrap.Tooltip(tooltipTriggerEl)
})
var now = new Date();

var formatDateComponent = function(dateComponent) {
  return (dateComponent < 10 ? '0' : '') + dateComponent;
};

var formatDate = function(date) {
  return formatDateComponent(date.getFullYear()) + '-' + formatDateComponent(date.getMonth() + 1) + "-" + formatDateComponent(date.getDate());
};
function myFunction() {
  var x = document.getElementById("dates").value;
  var dt = new Date(x);
  var prevMonthLastDate = new Date(dt.getFullYear(), dt.getMonth() + 1, 0);
  x = formatDate(prevMonthLastDate);
  location.href = "http://127.0.0.1:8000/indexKaryawan/{{pages}}/" + x + "/";
}

google.charts.load('current', {'packages':['corechart']});
google.charts.setOnLoadCallback(drawChart);

// Draw the chart and set the chart values
function drawChart() {
  var a = parseInt("{{total_score}}");
  var b = parseInt("{{total_pencapaian}}");
  var data = google.visualization.arrayToDataTable([
  ['Task', 'Hours per Day'],
  ['Bobot', a],
  ['Target', b],
]);

  // Optional; add a title and set the width and height of the chart
  var options = {'title':'My {{pages}}', 'width':550, 'height':400};

  // Display the chart inside the <div> element with id="piechart"
  var chart = new google.visualization.PieChart(document.getElementById('piechart'));
  chart.draw(data, options);
}
</script>
    <!-- Optional Javascript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>

</body>
</html>