<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Manager</title>
    <!--Bootstrap CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script type='text/javascript' src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/css/tempusdominus-bootstrap-4.min.css" integrity="sha256-XPTBwC3SBoWHSmKasAk01c08M6sIA5gF5+sRxqak2Qs=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/js/tempusdominus-bootstrap-4.min.js" integrity="sha256-z0oKYg6xiLq3yJGsp/LsY9XykbweQlHl42jHv2XTBz4=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <!-- XDSoft DateTimePicker -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>
  </head>
  <style>
    .tier_price_break{
    border: 1px solid #ccc;
    border-radius: 8px;
}
.tier_price_break tr:first-child th{
  border-bottom: 1px solid #ccc;
}
    .container {
  position: relative;
}
.image-upload>input {
  display: none;
}
.center {
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 30.5%;
  width: 100%;
  text-align: center;
  font-size: 18px;
}
.input-group-btn.input-space {
  padding-left: 15px;
}
.pointer {cursor: pointer;}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: rgb(0, 38, 255);
   color: white;
   text-align: center;
}
  </style>
  <body>
    <div class="modal fade" id="logout-Admin" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Log Out</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Apakah anda yakin ingin keluar dari admin user?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
            <form method="post">
                {% csrf_token %}
              <button type="submit" value="logout-admin" name="logoutAdmin" class="btn btn-primary">Yes</button>
          </form>
          </div>
        </div>
      </div>
    </div>
    {% for user in users1 %}
    <div class="modal fade" id="editUser" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel"">Edit User</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
          <div class="modal-body">
            <div class="mb-2">
              <img src="/images/{{user.foto}}" style="margin-left: 50%;" width="100px">
            </div>
            <div class="mb-3" style="margin-left: 50%;">
              <div class="image-upload">
                <label for="file-input">Ganti Foto
                  <img src="/images/edit_logo.png" width="20px" class="pointer"/>
                </label>
                {{uploadFoto.gambar}}
              </div>
            </div>
            <div class="mb-3 row">
              <label for="nama" class="col-sm-2 col-form-label">Nama :</label>
              <div class="col-sm-10">
                <input type="text" class="form-control shadow p-2 mb-4 bg-body rounded" name="nama" value="{{user.nama}}" placeholder="Nama User" required>
              </div>
            </div>
            <div class="mb-3 row">
              <label for="email" class="col-sm-2 col-form-label">Email :</label>
              <div class="col-sm-10">
                <input type="text" class="form-control shadow p-2 mb-4 bg-body rounded" name="email" value="{{user.email}}" placeholder="Email User" required>
              </div>
            </div>
            <div class="mb-3 row">
              <label for="username" class="col-sm-2 col-form-label">Username :</label>
              <div class="col-sm-10">
                <input type="text" class="form-control shadow p-2 mb-4 bg-body rounded" id="username" value="{{user.username}}" name="username" placeholder="Username" required>
              </div>
            </div>
            <div class="mb-3 row">
              <label for="password" class="col-sm-2 col-form-label">Password :</label>
              <div class="col-sm-10">
                <input type="password" placeholder="Password User" minlength="6" name="password" value="{{user.password}}" class="form-control shadow p-2 mb-4 bg-body rounded" required>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="submit" value="editUs-{{user.id}}" name="editUser" id="tambahUser" class="btn btn-primary" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">Simpan</button>
          </div>
          </form>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
  
  {% for user in user_list %}
  <div class="modal fade" id="kelolaModal-{{user.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">KPI For {{users1.0.divisi}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
        <div class="modal-body">
            <div class="card card-body" style="height: 230px;">
                <div class="input-group">
                <p type="text" class="fw-bold">Average Downtime</p>
                <p type="text" class="fw-bold" style="margin-left: 700px; bottom: 300px;">Status   :  {{user.status}}</p>
                </div>
                <p type="text" class="fw-light">Bobot              :  {{kpi_ids.bobot}}</p>
                <p type="text" class="fw-light">Target             :  {{kpi_ids.target}}</p>
                <p type="text" class="fw-light">Pencapaian         :  {{user.pencapaian}}</p>
                <p type="text" class="fw-light">Jumlah KPI Score   :  {{user.score}}</p>
            </div>
            <div style="left: 850px; position: fixed; bottom: 655px;">    
                <a data-bs-toggle="tooltip" data-bs-placement="right" title="Click to open the file" href="http://127.0.0.1:8000/images/{{user.berkas}}" target="_blank" rel="noopener noreferrer"><image type="image" id="berkasnya" class="pointer" src="/images/favpng_vector-graphics-document-illustration-computer-file.png" style="width:130px;height:140px;"/> </a>
            </div>
            <label for="catatan" class="col-sm-1 col-form-label" style="bottom: 100px;">Catatan :</label>
            <div class="col-sm-10">
                <textarea type="text" class="form-control shadow bg-body rounded" id="catatan" name="catatan" placeholder="Catatan" required>{{user.note}}</textarea>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-danger" value="tolakBerkas-{{user.user_id}}-{{user.id}}" name="tolakKpi">Tolak</button>
            {% if user.status == "Pending" %}
                <button type="submit" id="reviewBerkas" value="updatePending-{{user.user_id}}-{{user.id}}" name="pendingKpi" class="btn btn-primary" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">Review</button>
            {% elif user.status == "On Review" %}
                <button type="submit" id="terimaBerkas" value="updateReview-{{user.user_id}}-{{user.id}}" name="reviewKpi" class="btn btn-primary" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">Terima</button>
            {% elif user.status == "Revisi" %}
            <button type="submit" id="terimaBerkas" value="updateReview-{{user.user_id}}-{{user.id}}" name="reviewKpi" class="btn btn-primary" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">Terima</button>
            {% endif %}
        </div>
        </form>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="modal fade" id="updateModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Update Value KPI</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
        <div class="modal-body">
          <div class="mb-3 row">
            <label for="nama" class="col-sm-2 col-form-label">Bobot </label>
            <div class="col-sm-10">
              <input type="number" class="form-control shadow p-2 mb-4 bg-body rounded" id="bobot" name="bobot" value="{{kpi_ids.bobot}}" required>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="email" class="col-sm-2 col-form-label">Target </label>
            <div class="col-sm-10">
              <input type="number" class="form-control shadow p-2 mb-4 bg-body rounded" id="target" name="target" value="{{kpi_ids.target}}" required>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" value="updateScore" name="updateKpi" class="btn btn-primary" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">Update</button>
        </div>
        </form>
        </div>
      </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand fw-bold" href="http://127.0.0.1:8000/indexManager/" style="margin-left: 30px;">Manager Divisi {{users1.0.divisi}}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
          <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle fw-bold" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Semua KPI Divisi {{users.0.divisi}}
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% for a in divisi_datas %}
                <li><a class="dropdown-item" href="http://127.0.0.1:8000/indexManager/{{a}}/{{iduser}}/">{{a}}</a></li>
                {% endfor %}
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" data-bs-toggle="modal" data-bs-target="#updateModal" href="">Update Value KPI</a>
            </li>
          </ul>
          <form class="d-flex">
            <ul class="nav nav-pills">
              <li class="nav-item dropdown">
                <label class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="" role="button" aria-expanded="false" style="margin-right: 40px;">Manager {{users1.0.divisi}}<img src="/images/logo_user_icon.png" width="30px"></label>
                <ul class="dropdown-menu">
                  <li><button class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#editUser">Ubah Profile</button></li>
                  <li><button class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#logout-Admin">Logout</button></li>
                </ul>
              </li>
            </ul>
          </form>
        </div>
      </div>
    </nav>
    {% if errors != "" %}
    <div class="mb-3 row alert alert-danger alert-dismissible fade show" style="width: 50%;margin-left: 500px;" role="alert">
    {{errors}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
    <br>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="pagination justify-content-center">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                              <th style="text-align:center" scope="col">No.</th>
                              <th style="text-align:center" scope="col">Pencapaian</th>
                              <th style="text-align:center" scope="col">Score</th>
                              <th style="text-align:center" scope="col">Berkas</th>
                              <th style="text-align:center" scope="col">Status</th>
                              <th style="text-align:center" scope="col">Kelola Berkas</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for user in user_list %}
                            <tr>
                              <th scope="row" style="text-align:center" valign="middle">{{forloop.counter}}</th>
                              <td style="text-align:center" valign="middle">{{user.pencapaian}}</td>
                              <td style="text-align:center" valign="middle">{{user.score}}</td>
                              <td style="text-align:center" valign="middle">{{user.berkas}}</td>
                              {% if user.status == "Pending" %}
                                <td style="text-align:center; color: rgb(0, 119, 255);" class="fw-bold" valign="middle">{{user.status}}</td>
                              {% elif user.status == "On Review" %}
                                <td style="text-align:center; color: rgb(255, 174, 0);" class="fw-bold" valign="middle">{{user.status}}</td>
                              {% elif user.status == "Rejected" %}  
                                <td style="text-align:center; color: rgb(255, 0, 0);" class="fw-bold" valign="middle">{{user.status}}</td>
                              {% elif user.status == "Revisi" %}  
                                <td style="text-align:center; color: rgb(162, 0, 255);" class="fw-bold" valign="middle">{{user.status}}</td>
                              {% else %}
                                <td style="text-align:center; color: green;" class="fw-bold" valign="middle">{{user.status}}</td>
                              {% endif %}
                              <td valign="middle" style="text-align:center">
                                {% if user.status != "Diterima" and user.status != "Rejected" and user.status %}  
                                    <a type="button"data-bs-toggle="modal" data-bs-target="#kelolaModal-{{user.id}}" class="btn btn-primary">Kelola</a>
                                {% endif %}
                              </td>
                            </tr>
                            {% endfor %}
                          </tbody>
                      </table>
                  </div>  
            </div>
        </div>
  </div>
  <div class="col-md-10">
    <div class="container">
      <div class="center">Showing {{ users.number }} to {{users.paginator.object_list.count}} of {{ users.paginator.num_pages }}</div>
    </div>
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-end">
        {% if users.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{ users.previous_page_number }}">Previous</a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
          </li>
        {% endif %}
        {% for i in users.paginator.page_range %}
          {% if users.number == i %}
            <li class="page-item active" aria-current="page">
              <span class="page-link">
                {{ i }}
                <span class="sr-only"></span>
              </span>
            </li>
          {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        {% if users.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ users.next_page_number }}">Next</a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
          </li>
        {% endif %}
      </ul>
    </nav>
  </div>
  <div class="footer">
    <br>
    <p class="fw-bold">Layanan Pengguna</p>
    <p style="color: darkgray;">javan@gmail.com</p>
    <p style="color: darkgray;">+62 81312345678</p>
    <p class="fw-bold">PT Javan Cipta Solusi</p>
  </div>
<script>
  $(function () {
    $("#dateTime").datetimepicker({
      format: 'd/m/Y H:i',
    });
  });
  $('#reviewBerkas').click(function() {
  $('[name=catatan]').removeAttr('required');
});
$('#terimaBerkas').click(function() {
  $('[name=catatan]').removeAttr('required');
});
var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
  return new bootstrap.Tooltip(tooltipTriggerEl)
})
</script>
    <!-- Optional Javascript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>

</body>
</html>